
<form class="form-horizontal alert alert-warning" name="tcr" id="tcrForm" ng-submit="alert()" hidden>
<h3 class="text-center">Enter Your TEMP ID card details</h3>
	
    <div class="form-group">
		<label for="Name">QLID:</label>
		<input type="text" name="qlid" class="form-control" placeholder="Enter Your QLID" ng-model="qlid" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="tcr.qlid.$invalid && tcr.qlid.$dirty">QLID field is Empty!</p>
	</div>
    
	<div class="form-group">
		<label for="date">DATE:</label>
		<input type="date" name="datepicker" class="form-control" placeholder="Enter the DATE" ng-model="date" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="tcr.date.$invalid && tcr.date.$dirty">DATE field is Empty!</p>
	</div>
    
	<div class="form-group">
		<label for="tempid">Temp ID Number:</label>
        <input type="text" name="tempid" class="form-control" placeholder="Enter Your Temp ID" ng-model="tempid" value="" autofocus required />
		
    </div>
    <div class="form-group">
		<p class="text-danger" ng-show="tcr.tempid.$invalid && tcr.tempid.$dirty">Temp ID field is Empty!</p>
	</div>
    
    <div class="form-group">
		<label for="approver">Approver:</label>
		<input type="text" name="reason" class="form-control" placeholder="Approver for your tcr" ng-model="approver" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="tcr.approver.$invalid && tcr.approver.$dirty">Approver field is Empty!</p>
	</div>
    
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="tcrForm.$invalid">Show me the details before sending mail</button>
        <button class="btn btn-warning" ng-disabled="tcrForm.$invalid">Clear</button>
	</div>
</form>
        